body{
	width:1000px;
	margin:10px auto;
	background-color:black;
	background-attachment:fixed;
	font-family:Helvetica, Arial, Verdana, sans-serif;
	font-size:95%;
	line-height:1.4em;
}

header{
	height:271px;
	display:block;
	text-align:center;
}

nav{
	display:block;
	width:1000px;
	height:30px;
	background-color:black;
	padding-top:1px;
	border-top:5px solid white;
}

nav ul{
	display:inline;
	list-style-type:none;
}

nav li{
	display:inline;
	margin:20px;
	padding:20px;
}

nav a:link, nav a:visited{
	font-size:1.2em;
	font-weight:bold;
	text-decoration:none;
	color:white;
	font-style:normal;
}

nav a:hover{
	border-top:6px solid #3B3B3D;
	color:#3B3B3D;
}

nav a:active{
	color:yellow;
}

nav .homepage a{
	border-top:6px solid red;
	color:red;
}

nav .discografia a{
	border-top:6px solid red;
	color:red;
}

nav .concerti a{
	border-top:6px solid red;
	color:red;
}

nav .contatti a{
	border-top:6px solid red;
	color:red;
}

.sezione_home{
	float:left;
	width:70%;
	height:1296px;
	text-align:justify;
	color:white;
	background-color:black;
}

.articolo_home{
	margin-left:10px;
	margin-right:10px;
}

#img_gruppo{
	text-align:center;
	width:619px;
	height:320px;
	border-style:inset;
	border-color:gray;
	border-width:10px;
}

.lato_home{
	float:right;
	width:30%;
	background-color:black;
}

#logo{
	width:280px;
	height:89px;
	background-color:white;
	margin-top:10px;
	margin-right:10px;
	margin-left:10px;
	text-align:center;
}

#testo_logo{
	width:280px;
	height:auto;
	background-color:white;
	font-weight:bold;
	font-size:85%;
	margin-top:1px;
	margin-right:10px;
	margin-left:10px;
}

#componenti{
	background-color:black;
	text-align:center;
	margin-top:40px;
	margin-right:40px;
	margin-left:40px;
}

#testo_componenti{
	width:220px;
	height:auto;
	background-color:black;
	color:white;
	font-weight:bold;
	font-size:85%;
	margin-top:1px;
	margin-right:40px;
	margin-left:40px;
}

.sezione_discog{
	float:left;
	width:100%;
	color:white;
	background-color:black;
}

.articolo_discog{
	margin-left:30px;
	margin-right:30px;
}

.tabella_album{
	width:600px;
	height:auto;
	text-align:center;
}

.thedarkside{
	width:150px;
	height:150px;
}

.sezione_concerti{
	float:left;
	width:100%;
	text-align:justify;
	color:white;
	background-color:black;
}

.articolo_concerti{
	margin-left:30px;
	margin-right:30px;
}

.sezione_contatti{
	float:left;
	width:50%;
	text-align:justify;
	color:white;
	background-color:black;
}

.lato_contatti{
	float:right;
	width:50%;
	height:462px;
	background-color:black;
}

.articolo_contatti{
	margin-left:30px;
	margin-right:30px;
}

.tabella_contatti{
  border-spacing: 15px;
}

#img_contatti{
	width:330px;
	height:330px;
}

#tornasu{
	color:red;
	text-decoration:none;
}

#tornasu:active{
	color:#800000;
}

#tornasu:hover{
	text-decoration:underline;
}

footer{
	display:block;
	clear:both !important;
	height:60px;
	background-color:black;
	color:red;
	text-align:center;
	font-style:italic;
}